Language: Cpp
BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
PointerAlignment: Left
SpacesBeforeTrailingComments: 2
ColumnLimit: 140
NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: InlineOnly
IndentPPDirectives: BeforeHash
SortIncludes: Never
EmptyLineBeforeAccessModifier: LogicalBlock
IndentAccessModifiers: false
AccessModifierOffset: -4